qrcoronatrackerapp/*.iml
qrcoronatrackerapp/.gradle
qrcoronatrackerapp/local.properties
qrcoronatrackerapp/.idea/workspace.xml
qrcoronatrackerapp/.idea/libraries
qrcoronatrackerapp/.idea
qrcoronatrackerapp/.DS_Store
qrcoronatrackerapp/build
qrcoronatrackerapp/captures
qrcoronatrackerapp/.externalNativeBuild
